.ard {background-color:blue; color:greenyellow;font-family: Calibri;font-weight: bold; border-radius: 8px;}
span {border: 6px dotted rgb(154, 191, 249); font-family: Candara; width:14%;}
h1 {text-shadow: 3px 1px 1px black; background-color:azure; font-weight:300 bold; font-family: Verdana; color: rgb(120, 99, 249); border: 5px double darkblue; width: 35%;}
body {background-image: url(https://wallpaperbrowse.com/media/images/best-nature-desktop-hd-wallpaper.jpg);}